<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title  | Clivax - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Codebucks" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <!-- dark layout js -->
    <script src="~/assets/js/pages/layout.js"></script>
    @RenderSection("styles", required: false)
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- simplebar css -->
    <link href="~/assets/libs/simplebar/simplebar.min.css" rel="stylesheet">
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="layout-wrapper">

        @Html.Partial("~/Views/Shared/menu.cshtml")

        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    @Html.Partial("~/Views/Shared/pagetitle.cshtml")

                    @RenderBody()
                </div> 
            </div>
            @Html.Partial("~/Views/Shared/footer.cshtml")

        </div>
        <!-- end main content-->

    </div>

    @Html.Partial("~/Views/Shared/rightsidebar.cshtml")

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
