@model Microservice.Admin.ViewModels.Haber.HaberDetailVm

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Microservice.Admin.ViewModels.Haber.HaberDetailVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteId)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DilId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DilId)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HedefId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HedefId)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KisaAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KisaAciklama)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IcerikMetni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IcerikMetni)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResimUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResimUrl)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GosterimSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GosterimSayisi)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YayimTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YayimTarihi)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EklemeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EklemeTarihi)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaslamaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaslamaTarihi)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeoUrl)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeoTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeoTitle)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeoDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeoDescription)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
