@model Microservice.Admin.ViewModels.Haber.HaberDetailVm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HaberDetailVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DilId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DilId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HedefId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HedefId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KisaAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KisaAciklama)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IcerikMetni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IcerikMetni)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResimUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResimUrl)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GosterimSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GosterimSayisi)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YayimTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YayimTarihi)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EklemeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EklemeTarihi)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaslamaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaslamaTarihi)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeoUrl)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeoTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeoTitle)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeoDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeoDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
