@model IEnumerable<Microservice.Admin.ViewModels.Haber.GetHaberVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DilId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HedefId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KisaAciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResimUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YayimTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaslamaTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitisTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.SiteId)
            </td>
            <td>
                @Html.DisplayFor(model => item.DilId)
            </td>
            <td>
                @Html.DisplayFor(model => item.HedefId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(model => item.KisaAciklama)
            </td>
            <td>
                @Html.DisplayFor(model => item.ResimUrl)
            </td>
            <td>
                @Html.DisplayFor(model => item.YayimTarihi)
            </td>
            <td>
                @Html.DisplayFor(model => item.BaslamaTarihi)
            </td>
            <td>
                @Html.DisplayFor(model => item.BitisTarihi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
